@model ProductVM

<div class="card shadow-lg border-top-0 border-secondary rounded-5" style="margin:7%">
    <div class="card-header bg-primary text-white">
        <div class="row text-center">
            <div class="text-center">
                <h2 class="p-2" style="text-transform:uppercase">@(Model.Product.Id!=0?"Update":"Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Upsert" method="post" class="row" enctype="multipart/form-data">
            <input hidden asp-for="Product.Id" />
            <input hidden asp-for="Product.ImageUrl" />

            <div class="row">
                <div class="col-10">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Product.Title" class="form-label p-0 mx-1"></label>
                            <input asp-for="Product.Title" class="form-control input-shadow" />
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Product.Description" class="form-label p-0 mx-1"></label>
                            <textarea asp-for="Product.Description" class="form-control input-shadow" style="height:62px"></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Product.ISBN" class="form-label p-0 mx-1"></label>
                            <input asp-for="Product.ISBN" class="form-control input-shadow" />
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Product.Author" class="form-label p-0 mx-1"></label>
                            <input asp-for="Product.Author" class="form-control input-shadow" />
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Product.ListPrice" class="form-label p-0 mx-1"></label>
                            <input asp-for="Product.ListPrice" class="form-control input-shadow" />
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Product.Price" class="form-label p-0 mx-1"></label>
                            <input asp-for="Product.Price" class="form-control input-shadow" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Product.Price50" class="form-label p-0 mx-1"></label>
                            <input asp-for="Product.Price50" class="form-control input-shadow" />
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Product.Price100" class="form-label p-0 mx-1"></label>
                            <input asp-for="Product.Price100" class="form-control input-shadow" />
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Product.ImageUrl" class="form-label p-0 mx-1 my-2"></label>
                            <input type="file" name="file" class="form-control input-shadow" />
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Product.CategoryId" class="form-label p-0 mx-1 my-2">Category</label>
                            <select asp-for="Product.CategoryId" class="form-select  input-shadow" asp-items="@Model.CategoryList">
                                <option disabled>--Select Category--</option>
                                @if (Model.Product.Id != 0)
                                {
                                    <option selected value="@Model.Product.Id">@Model.Product.Title</option>
                                }
                                else
                                {
                                    <option disabled selected>--Select Category--</option>

                                }
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%"
                         style="border-radius:5px; border:1px solid #bbb9b9"/>
                    <div class="row  mt-3">
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary input-shadow form-control">
                                @(Model.Product.Id != 0 ? "Update" : "Create")
                            </button>
                        </div>
                        <div class="mt-3">
                            <a asp-controller="Product" asp-action="Index" class="btn border-1 btn-secondary input-shadow shadow-sm form-control">
                                Back To List
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
